@font-face {
    font-family: SenturyGothicItalic;
    src: url(fonts/GOTHICI.ttf);
}

@font-face {
    font-family: SenturyGothic;
    src: url(fonts/GOTHIC.ttf);
}

@font-face {
    font-family: SenturyGothicBold;
    src: url(fonts/GOTHICB.ttf);
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    background-color: #cae26a;
    background: -moz-linear-gradient(top, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(180, 223, 91, 1)), color-stop(100%, rgba(180, 223, 91, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4df5b', endColorstr='#b4df5b', GradientType=0); /* IE6-9 */
}

body {
    background: url("img/whiteBackgroundHeader.png") top left no-repeat;
    border-top: 2px solid #45342c;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #4a3827;
}

img {
    vertical-align: top;
    display: inline;
    border: none;
}

#wrapper {
    color: #4A3827;
    margin: 0 auto;
    padding: 15px 0 0 0;
    max-width: 950px;
}

#header {
    min-height: 80px;
    width: auto;
    vertical-align: middle;
    font-family: SenturyGothicItalic;
    font-size: 19px;

}

.contact {
    padding: 0 !important;

}

#header div {
    float: left;
    padding: 0 40px 0 0;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.75);
}

#header div i {
    margin-right: 20px;
}

#header div i a {
    float: none;
}

#header div a {
    float: right;
    text-decoration: underline;
}

.motto {
    width: 325px;
    margin: 0 7px 0 15px;
    font-size: 23px !important;
}

#content {
    margin-top: 30px;
    text-align: center;
}

.mainImage {
    border: 1px solid #c9e169;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

ul {
    list-style: none;
    font-family: SenturyGothicBold;
}

.menu {
    background: url("img/backgroundMenu.png") repeat scroll 0 0 transparent;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.5);
    margin: 16px auto 11px;
    padding: 7px 0;
    max-width: 810px;
}

.menu li {
    font-size: 18px;
    display: inline-block;
    padding: 0 10px;
}

.services {
    margin: 0 100px;
    max-width: 750px;
    padding: 0;
}

.services li {
    display: inline-block;
    font-size: 12px;
    height: 110px;
    padding: 25px 5px;
    text-align: center;
    vertical-align: top;
    width: 130px;
}

.services li img {
    padding: 0 0 5px 0;
}

.speech {
    margin: 15px 0 30px;
    text-align: left;
    font-family: SenturyGothic;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

.speech p:first-letter {
    padding: 0 0 0 40px;
}

.emptyBlock {
    height: 155px;
    width: 100%;
}

#footer {
    padding: 18px 0;
    min-height: 155px;
    margin-top: -119px;
    position: relative;
    font-family: SenturyGothic;
    font-size: 14px;
    color: #c9b188;
    background: #45342c;
}

.footerInside {
    margin: 0 auto;
    max-width: 950px;
}

#footer .footerInside > p {
    float: left;
    margin: 0;
}

#footer p a:first-child {
    padding: 0 0 0 15px;
}

#footer .footerInside > span {
    display: block;
    text-align: right;
    position: relative;
}

#footer span i {
    margin-right: 60px;
}

@media screen and (max-width: 970px) {
    #header > div {
        display: block;
        float: none;
        margin: 10px auto;
        padding: 0;
        text-align: center;
    }

    #header div a {
        float: none;
    }

    .mainImage img {
        width: 100%;
    }
}

@media screen and (max-width: 690px) {
    #footer .footerInside > p {
        float: none;
        margin-bottom: 15px;
    }

    #footer .footerInside > span, #footer .footerInside > p {
        text-align: center;
    }

    #footer span i {
        margin-right: 10px;
    }
}